@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect { backdrop-filter: blur(24px); }

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #34343d; border-radius: 10px; }

body {
  min-height: max(884px, 100dvh);
}
